/* styles for my research project*/

/* heading styles*/
.headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family:'PT Sans', sans-serif;
}

.second-title {
  font-size: 30px;
  color: #060606;
  font-family: 'PT Sans';
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  min-width: 300px;
  border-bottom: 2px solid #f1f1f1;
  padding: 1.5em 0;
  opacity: .7;
  background: #F6E5FD;
  text-align: center;
  border: 0px solid #000;
}

/*byline for my name*/

.byline {
  font-size: .7em;
  text-transform: uppercase;
  color: #060606;
  font-family: 'PT Sans';
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  min-width: 300px;
  border-bottom: 2px solid #f1f1f1;
  padding: 1.5em 0;
  opacity: .7;
  background: #F6E5FD;
  border: 0px solid #000;
}

.container {
  font-size: 1em;
  color: #060606;
  font-family: 'PT Sans';
  font-weight: normal;


  .italic {
  font-size: 1em;
  color: #060606;
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  }
  /* large quote at beginning */

  .quote {
  font-family: 'PT Sans';
  color: #060606;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  padding: 15px 0 15px 0;
  border-top: 1px solid #4B0082;
  border-bottom: 1px solid #4B0082;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: medium;
}

  /*footer styles*/

  footer {
    text-align: center;
    font-family: 'PT Sans';
    line-height: 180%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    min-width: 300px;
    padding: 2em 0;
    background: #000000;
    text-align: center;
    color: #FFFFFF;
  }

  /*media queries*/

@media (max-width: 650px) {
  p {
    padding-left: 20px;
    padding-right: 10px;
    }
  .chapter-head {
    font-size: 1.25em;
  }
  .hero-head {
    font-size: 1.5em;
  }
  .gallery {
    padding left: 10px;
    padding right: 10px;
  }
  .speech-bubble {
    padding left: 20px;
    padding right: 20px;
  }
}
